@import "~@/lib/reset.scss";
.router-link-active {
    @include text-color(#f66);
}

.new {
    padding: 0.06rem;
    .mint-swipe {
        height: 0.1rem;
        @include background-color(#fff);
        border: 1px solid #d4d4d4;
        border-top: 0;
        @include rect(100%, 1.64rem);
        .mint-swipe-indicators {
            .mint-swipe-indicator {
                width: 0.08rem;
                height: 0.08rem;
                opacity: 1;
                @include background-color(#B1B1B1);
            }
            bottom: 0.02rem;
            .is-active {
                @include background-color(#FE5306);
            }
        }
        ul {
            @include flexbox();
            @include rect(100%, auto);
            @include flex-wrap(wrap);
            padding: 0.06rem;
            li {
                @include rect(50%, auto) @include flexbox();
                @include font-size(0.12rem);
                border-bottom: 1px solid #d4d4d4;
                border-right: 1px solid #d4d4d4;
                padding: 0.06rem 0;
                >img {
                    margin: 0 0.06rem;
                    @include rect(0.5rem, 0.5rem)
                }
                div {
                    @include flex();
                    p {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        &:first-child {
                            @include text-color(#333);
                        }
                        &:last-child {
                            @include text-color(#999);
                            @include font-size(0.12rem);
                        }
                    }
                }
                &:nth-child(2n) {
                    border-right: 0;
                }
                &:nth-child(1),
                &:nth-child(2) {
                    border-top: 0;
                }
            }
        }
    }
    figure {
        @include background-color(#fff);
        @include rect(100%, auto);
        border: 1px solid #d4d4d4;
        border-bottom: 0;
        figcaption {
            @include rect(100%, 0.4rem);
            @include line-height(0.4rem);
            @include flexbox();
            @include justify-content(space-between);
            border-bottom: 1px solid #d4d4d4;
            padding: 0 0.04rem;
            span {
                text-align: center;
                @include text-color(#333);
                &:last-child {
                    @include text-color(#999);
                    @include font-size(0.12rem);
                }
            }
        }
    }
    .game {
        @include rect(100%, auto);
        border: 1px solid #d4d4d4;
        margin-top: 0.06rem;
        @include background-color(#fff);
        .tab {
            @include rect(100%, 0.4rem);
            @include flexbox();
            @include align-items();
            span {
                @include flex();
                text-align: center;
                border-right: solid 1px #d4d4d4;
                @include rect(auto, 0.24rem);
                @include line-height(0.24rem);
                &:last-child {
                    bottom: 0;
                }
            }
        }
        table {
            @include rect(100%, auto);
            @include font-size(0.12rem);
            tr {
                @include rect(100%, 0.4rem);
                @include flexbox();
                @include line-height(0.4rem);
                td {
                    border-top: 1px solid #d4d4d4;
                    &:first-child {
                        @include flex();
                    }
                    &:nth-child(2) {
                        padding: 0 14px;
                    }
                    &:last-child {
                        padding: 0 14px;
                    }
                }
            }
            thead {
                tr {
                    text-align: center;
                    border-top: solid 1px #d4d4d4;
                    @include text-color(#656565);
                    @include background-color(#f5f5f5);
                }
            }
            tfoot {
                tr {
                    td {
                        text-align: center;
                        @include rect(100%, 100%)
                    }
                }
            }
        }
        ul {
            @include rect(100%, auto);
            padding: 0 0.06rem;
            li {
                padding: 0.1rem 0;
                @include rect(100%, auto);
                border-top: 1px solid #d4d4d4;
                @include flexbox();
                @include align-items();
                >img {
                    margin: 0 0.06rem;
                    @include rect(0.5rem, 0.5rem);
                    margin-right: 0.1rem;
                }
                div {
                    @include flex();
                    p {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        &:first-child {
                            @include text-color(#333);
                        }
                        &:last-child {
                            @include text-color(#999);
                            @include font-size(0.12rem);
                        }
                    }
                }
                a {
                    display: block;
                    @include rect(0.74rem, 0.3rem);
                    @include background-color(#81cd65);
                    @include text-color(#fff);
                    text-align: center;
                    @include line-height(0.3rem);
                }
                .lag {
                    @include rect(0.24rem, 0.46rem);
                    @include flexbox();
                    @include flex-direction(column);
                    @include background-color(#e65022);
                    margin-right: 0.1rem;
                    span {
                        display: block;
                        @include text-color(#fff);
                        text-align: center;
                        @include rect(auto, 0.36rem);
                        @include line-height(0.36rem);
                        @include font-size(0.16rem);
                    }
                    i {
                        display: block;
                        border-style: solid;
                        border-color: transparent transparent #fff transparent;
                        border-width: 0 12px 10px 12px;
                    }
                }
            }
        }
    }
}