@import "~@/lib/reset.scss";
.banner {
    @include border(1px, #666);
    .mint-swipe {
        .mint-swipe-items-wrap {
            .mint-swipe-item {
                img {
                    width: 100%;
                }
            }
        }
        .mint-swipe-indicators {
            bottom: 0;
            left: auto;
            right: 0;
            .mint-swipe-indicator {
                opacity: 1;
                @include background-color(#B1B1B1);
            }
            .is-active {
                @include background-color(#FE5306);
            }
        }
    }
}